<p><h2>Autor</h2></p>
  <table style="margin: 0 auto;text-align: left;width:100%;">
	<tr><td>Nombre: Daniel Sarria</td>
	<td><img src="/images/anonimo.jpg" width="50" height="50"></td>
	<td>
		<video width="150" height="100" controls>
			<source src="media/skyrim.mp4" type="video/mp4">
			Tu navegador no soporta el tag video de html5
		</video> 
	</td></tr>
  </table>

