<form methods="get" action="/quizes/<%= quiz.id %>/answer">
	pregunta: <%= quiz.pregunta %><br />
	<input type="text" name="respuesta" value="Responda aqui" /><br />
	<input type="submit" value="Enviar" />
</form>
